<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.system.repository.AnnouncementRecordRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycompany.myapp.system.domain.AnnouncementRecord">
        <id column="id" property="id"/>
        <result column="id" property="id" />
        <result column="annt_id" property="anntId" />
        <result column="user_id" property="userId" />
        <result column="has_read" property="hasRead" />
        <result column="read_time" property="readTime" />
        <result column="removed_at" property="removedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,annt_id,user_id,has_read,read_time,removed_at
    </sql>
</mapper>
