<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.system.repository.DataPermissionRuleRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycompany.myapp.system.domain.DataPermissionRule">
        <id column="id" property="id"/>
        <result column="id" property="id" />
        <result column="permission_id" property="permissionId" />
        <result column="name" property="name" />
        <result column="`column`" property="column" />
        <result column="conditions" property="conditions" />
        <result column="value" property="value" />
        <result column="disabled" property="disabled" />
        <result column="removed_at" property="removedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,permission_id,name,`column`,conditions,value,disabled,removed_at
    </sql>
</mapper>
