<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.system.repository.SmsMessageRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycompany.myapp.system.domain.SmsMessage">
        <id column="id" property="id"/>
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="send_type" property="sendType" />
        <result column="receiver" property="receiver" />
        <result column="params" property="params" />
        <result column="content" property="content" />
        <result column="send_time" property="sendTime" />
        <result column="send_status" property="sendStatus" />
        <result column="retry_num" property="retryNum" />
        <result column="fail_result" property="failResult" />
        <result column="remark" property="remark" />
        <result column="removed_at" property="removedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,title,send_type,receiver,params,content,send_time,send_status,retry_num,fail_result,remark,removed_at
    </sql>
</mapper>
