<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.system.repository.SysLogRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycompany.myapp.system.domain.SysLog">
        <id column="id" property="id"/>
        <result column="id" property="id" />
        <result column="log_type" property="logType" />
        <result column="log_content" property="logContent" />
        <result column="operate_type" property="operateType" />
        <result column="userid" property="userid" />
        <result column="username" property="username" />
        <result column="ip" property="ip" />
        <result column="method" property="method" />
        <result column="request_url" property="requestUrl" />
        <result column="request_param" property="requestParam" />
        <result column="request_type" property="requestType" />
        <result column="cost_time" property="costTime" />
        <result column="removed_at" property="removedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,id,log_type,log_content,operate_type,userid,username,ip,method,request_url,request_param,request_type,cost_time,removed_at
    </sql>
</mapper>
