<!--<page-header [title]="'jhipsterSampleApplicationApp.filesUploadFile.home.createOrEditLabel'| translate">-->
<!--</page-header>-->
<page-bar></page-bar>
<nz-card [nzBordered]="false">
  <form nz-form (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="field_id" jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.id"
        >ID</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="id" id="field_id" [(ngModel)]="uploadFile!.id" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_fullName"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.fullName"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.fullName' | translate"
        >Full Name</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="fullName" id="field_fullName" [(ngModel)]="uploadFile!.fullName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_name"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.name"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.name' | translate"
        >Name</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="name" id="field_name" [(ngModel)]="uploadFile!.name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_ext"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.ext"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.ext' | translate"
        >Ext</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="ext" id="field_ext" [(ngModel)]="uploadFile!.ext" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_type"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.type"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.type' | translate"
        >Type</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="type" id="field_type" [(ngModel)]="uploadFile!.type" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_url"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.url"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.url' | translate"
        >Url</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="url" id="field_url" [(ngModel)]="uploadFile!.url" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_path"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.path"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.path' | translate"
        >Path</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="path" id="field_path" [(ngModel)]="uploadFile!.path" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_folder"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.folder"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.folder' | translate"
        >Folder</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="folder" id="field_folder" [(ngModel)]="uploadFile!.folder" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_entityName"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.entityName"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.entityName' | translate"
        >Entity Name</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="entityName" id="field_entityName" [(ngModel)]="uploadFile!.entityName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_createAt"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.createAt"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.createAt' | translate"
        >Create At</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-date-picker id="field_createAt" name="createAt" [(ngModel)]="uploadFile!.createAt" nzShowTime></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_fileSize"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.fileSize"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.fileSize' | translate"
        >File Size</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="fileSize" id="field_fileSize" [(ngModel)]="uploadFile!.fileSize" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_referenceCount"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.referenceCount"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.referenceCount' | translate"
        >Reference Count</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="referenceCount" id="field_referenceCount" [(ngModel)]="uploadFile!.referenceCount" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_removedAt"
        jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.removedAt"
        [ngbTooltip]="'jhipsterSampleApplicationApp.filesUploadFile.help.removedAt' | translate"
        >Removed At</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-date-picker id="field_removedAt" name="removedAt" [(ngModel)]="uploadFile!.removedAt"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="field_user" jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.user"
        >User</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-select style="width: 250px" id="field_user" name="user" [(ngModel)]="uploadFile!.user">
          <nz-option
            *ngFor="let userOption of usersCollection; trackBy: trackUserById"
            [nzLabel]="userOption!.login || null"
            [nzValue]="userOption.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="field_category" jhiTranslate="jhipsterSampleApplicationApp.filesUploadFile.category"
        >Category</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-tree-select
          style="width: 250px"
          id="field_category"
          [nzNodes]="resourceCategoriesCollectionNzTreeNodes"
          name="category"
          [(ngModel)]="uploadFile!.category"
        >
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzSpan]="24" style="text-align: center">
        <button type="submit" nz-button [nzType]="'primary'" [disabled]="isSaving">
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="button" nz-button (click)="previousState()"><span jhiTranslate="entity.action.cancel">Cancel</span></button>
      </div>
    </div>
  </form>
</nz-card>
