<page-grid>
  <div nz-row [nzGutter]="24">
    <div nz-col>
      <h1 jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.home.title">Sms Configs</h1>
      <form nz-form class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="24">
            <nz-form-item>
              <nz-form-label nzFor="no">搜索</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzSuffix]="searchSuffixTemplate">
                  <input type="text" nz-input name="jhiCommonSearchKeywords" [(ngModel)]="searchValue" placeholder="请输入关键字" />
                </nz-input-group>
                <ng-template #searchSuffixTemplate>
                  <i
                    nz-icon
                    nz-tooltip
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="searchValue"
                    (click)="searchValue = ''"
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <button nz-button type="submit" nzType="primary" (click)="loadPage()">查询</button>
            <button nz-button nzType="primary" [routerLink]="['./new']">增加</button>
            <button nz-button nzType="danger" *ngIf="numberOfChecked > 0" (click)="deleteByIdsConfirm()">批量删除</button>
          </div>
        </div>
      </form>
      <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
          <ng-template #message>
            已选择
            <strong class="text-primary">{{ numberOfChecked }}</strong> 项&nbsp;
          </ng-template>
        </nz-alert>
      </div>
      <nz-table #nzTable [nzData]="smsConfigs!" [nzScroll]="{ x: '100%' }">
        <thead>
          <tr>
            <th
              nzLeft="0px"
              nzWidth="48px"
              nzShowCheckbox
              [(nzChecked)]="isAllDisplayDataChecked"
              [nzIndeterminate]="isIndeterminate"
              (nzCheckedChange)="checkAll($event)"
            ></th>
            <th
              nzLeft="48px"
              nzWidth="52px"
              nzShowSort
              [(nzSortOrder)]="mapOfSort.id"
              (nzSortOrderChange)="sort('id', $event)"
              nzCustomFilter
            >
              <span jhiTranslate="global.field.id">ID</span>
              <i
                class="ant-table-filter-icon"
                nz-icon
                nz-dropdown
                #dropdown="nzDropdown"
                nzType="search"
                [nzDropdownMenu]="idmenu"
                [class.ant-table-filter-open]="dropdown.nzVisible"
                nzTrigger="click"
                nzPlacement="bottomRight"
                [nzClickHide]="false"
                nzTableFilter
              >
              </i>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.provider"
              (nzSortOrderChange)="sort('provider', $event)"
              nzCustomFilter
              *ngIf="showField('provider')"
              [nzWidth]="fieldWidth('provider')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.provider">Provider</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.smsCode"
              (nzSortOrderChange)="sort('smsCode', $event)"
              nzCustomFilter
              *ngIf="showField('smsCode')"
              [nzWidth]="fieldWidth('smsCode')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.smsCode">Sms Code</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.templateId"
              (nzSortOrderChange)="sort('templateId', $event)"
              nzCustomFilter
              *ngIf="showField('templateId')"
              [nzWidth]="fieldWidth('templateId')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.templateId">Template Id</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.accessKey"
              (nzSortOrderChange)="sort('accessKey', $event)"
              nzCustomFilter
              *ngIf="showField('accessKey')"
              [nzWidth]="fieldWidth('accessKey')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.accessKey">Access Key</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.secretKey"
              (nzSortOrderChange)="sort('secretKey', $event)"
              nzCustomFilter
              *ngIf="showField('secretKey')"
              [nzWidth]="fieldWidth('secretKey')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.secretKey">Secret Key</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.regionId"
              (nzSortOrderChange)="sort('regionId', $event)"
              nzCustomFilter
              *ngIf="showField('regionId')"
              [nzWidth]="fieldWidth('regionId')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.regionId">Region Id</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.signName"
              (nzSortOrderChange)="sort('signName', $event)"
              nzCustomFilter
              *ngIf="showField('signName')"
              [nzWidth]="fieldWidth('signName')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.signName">Sign Name</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.remark"
              (nzSortOrderChange)="sort('remark', $event)"
              nzCustomFilter
              *ngIf="showField('remark')"
              [nzWidth]="fieldWidth('remark')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.remark">Remark</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.enabled"
              (nzSortOrderChange)="sort('enabled', $event)"
              nzCustomFilter
              *ngIf="showField('enabled')"
              [nzWidth]="fieldWidth('enabled')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.enabled">Enabled</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.removedAt"
              (nzSortOrderChange)="sort('removedAt', $event)"
              nzCustomFilter
              *ngIf="showField('removedAt')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.filesSmsConfig.removedAt">Removed At</span>
            </th>
            <th nzWidth="160px" nzRight="0px">操作</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-smsConfig [ngForOf]="nzTable.data">
            <tr>
              <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[smsConfig.id!]" (nzCheckedChange)="refreshStatus()"></td>
              <td nzLeft="48px">{{ smsConfig.id }}</td>
              <td *ngIf="showField('provider')" jhiTranslate="{{ 'jhipsterSampleApplicationApp.SmsProvider.' + smsConfig.provider }}">
                {{ smsConfig.provider }}
              </td>
              <td *ngIf="showField('smsCode')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else namesmsCodeTpl">
                  {{ smsConfig.smsCode }}
                </ng-container>
                <ng-template #namesmsCodeTpl>
                  <input nz-input type="text" name="smsCode" [(ngModel)]="smsConfig.smsCode" />
                </ng-template>
              </td>
              <td *ngIf="showField('templateId')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else nametemplateIdTpl">
                  {{ smsConfig.templateId }}
                </ng-container>
                <ng-template #nametemplateIdTpl>
                  <input nz-input type="text" name="templateId" [(ngModel)]="smsConfig.templateId" />
                </ng-template>
              </td>
              <td *ngIf="showField('accessKey')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else nameaccessKeyTpl">
                  {{ smsConfig.accessKey }}
                </ng-container>
                <ng-template #nameaccessKeyTpl>
                  <input nz-input type="text" name="accessKey" [(ngModel)]="smsConfig.accessKey" />
                </ng-template>
              </td>
              <td *ngIf="showField('secretKey')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else namesecretKeyTpl">
                  {{ smsConfig.secretKey }}
                </ng-container>
                <ng-template #namesecretKeyTpl>
                  <input nz-input type="text" name="secretKey" [(ngModel)]="smsConfig.secretKey" />
                </ng-template>
              </td>
              <td *ngIf="showField('regionId')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else nameregionIdTpl">
                  {{ smsConfig.regionId }}
                </ng-container>
                <ng-template #nameregionIdTpl>
                  <input nz-input type="text" name="regionId" [(ngModel)]="smsConfig.regionId" />
                </ng-template>
              </td>
              <td *ngIf="showField('signName')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else namesignNameTpl">
                  {{ smsConfig.signName }}
                </ng-container>
                <ng-template #namesignNameTpl>
                  <input nz-input type="text" name="signName" [(ngModel)]="smsConfig.signName" />
                </ng-template>
              </td>
              <td *ngIf="showField('remark')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else nameremarkTpl">
                  {{ smsConfig.remark }}
                </ng-container>
                <ng-template #nameremarkTpl>
                  <input nz-input type="text" name="remark" [(ngModel)]="smsConfig.remark" />
                </ng-template>
              </td>
              <td *ngIf="showField('enabled')">
                <nz-switch
                  [(ngModel)]="smsConfig!.enabled"
                  nzCheckedChildren="是"
                  nzUnCheckedChildren="否"
                  [nzDisabled]="!editStatus[smsConfig.id!].edit"
                ></nz-switch>
              </td>
              <td *ngIf="showField('removedAt')">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else nameremovedAtTpl">
                  {{ smsConfig.removedAt | date: 'yyyy-MM-dd' }}
                </ng-container>
                <ng-template #nameremovedAtTpl>
                  <nz-date-picker [(ngModel)]="smsConfig.removedAt"></nz-date-picker>
                </ng-template>
              </td>
              <td nzRight="0px">
                <ng-container *ngIf="!editStatus[smsConfig.id!]?.edit; else saveTpl">
                  <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="行改" (click)="startEdit(smsConfig)">
                    <i nz-icon [nzType]="'file-text'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                  </button>
                  <button nz-button nzType="danger" nzShape="circle" nz-tooltip nzTooltipTitle="删除" (click)="deleteConfirm(smsConfig.id)">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                  </button>
                  <button
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="编辑"
                    [routerLink]="['./', smsConfig.id, 'edit']"
                  >
                    <i nz-icon nzType="setting"></i>
                  </button>
                </ng-container>
                <ng-template #saveTpl>
                  <a (click)="saveEdit(smsConfig)">保存</a>
                  <a nz-popconfirm nzPopconfirmTitle="是否保存？" (nzOnConfirm)="cancelEdit(smsConfig.id)">取消</a>
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #idmenu="nzDropdownMenu">
        <div class="search-box">
          <div>
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <span>-</span>
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          </div>
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #textMenu="nzDropdownMenu">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #dateMenu="nzDropdownMenu">
        <div class="search-box">
          <nz-range-picker [(ngModel)]="dateRange" style="display: block; width: 260px; margin-bottom: 8px"></nz-range-picker>
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
    </div>
  </div>
</page-grid>
