<!--<page-header [title]="'jhipsterSampleApplicationApp.systemAuthority.home.createOrEditLabel'| translate">-->
<!--</page-header>-->
<page-bar></page-bar>
<nz-card [nzBordered]="false">
  <form nz-form (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="field_id" jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.id"
        >ID</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="id" id="field_id" [(ngModel)]="authority!.id" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_name"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.name"
        [ngbTooltip]="'jhipsterSampleApplicationApp.systemAuthority.help.name' | translate"
        >Name</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="name" id="field_name" [(ngModel)]="authority!.name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_code"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.code"
        [ngbTooltip]="'jhipsterSampleApplicationApp.systemAuthority.help.code' | translate"
        >Code</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="code" id="field_code" [(ngModel)]="authority!.code" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_info"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.info"
        [ngbTooltip]="'jhipsterSampleApplicationApp.systemAuthority.help.info' | translate"
        >Info</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="info" id="field_info" [(ngModel)]="authority!.info" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_order"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.order"
        [ngbTooltip]="'jhipsterSampleApplicationApp.systemAuthority.help.order' | translate"
        >Order</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="order" id="field_order" [(ngModel)]="authority!.order" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_display"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.display"
        [ngbTooltip]="'jhipsterSampleApplicationApp.systemAuthority.help.display' | translate"
        >Display</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-switch [(ngModel)]="authority!.display" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_removedAt"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.removedAt"
        [ngbTooltip]="'jhipsterSampleApplicationApp.systemAuthority.help.removedAt' | translate"
        >Removed At</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-date-picker id="field_removedAt" name="removedAt" [(ngModel)]="authority!.removedAt"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="field_parent" jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.parent"
        >Parent</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-tree-select
          style="width: 250px"
          id="field_parent"
          [nzNodes]="authoritiesCollectionNzTreeNodes"
          name="parent"
          [(ngModel)]="authority!.parent"
        >
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_apiPermissions"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.apiPermissions"
        >Api Permissions</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-tree-select
          style="width: 250px"
          name="apiPermissions"
          id="field_apiPermissions"
          [nzNodes]="apiPermissionsCollectionNzTreeNodes"
          [(ngModel)]="authority.apiPermissions"
          nzCheckable
          nzPlaceHolder="Please select"
        >
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_viewPermissions"
        jhiTranslate="jhipsterSampleApplicationApp.systemAuthority.viewPermissions"
        >View Permissions</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-tree-select
          style="width: 250px"
          name="viewPermissions"
          id="field_viewPermissions"
          [nzNodes]="viewPermissionsCollectionNzTreeNodes"
          [(ngModel)]="authority.viewPermissions"
          nzCheckable
          nzPlaceHolder="Please select"
        >
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzSpan]="24" style="text-align: center">
        <button type="submit" nz-button [nzType]="'primary'" [disabled]="isSaving">
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="button" nz-button (click)="previousState()"><span jhiTranslate="entity.action.cancel">Cancel</span></button>
      </div>
    </div>
  </form>
</nz-card>
