<page-grid>
  <div nz-row [nzGutter]="24">
    <div nz-col>
      <h1 jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.home.title">Department Authorities</h1>
      <form nz-form class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="24">
            <nz-form-item>
              <nz-form-label nzFor="no">搜索</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzSuffix]="searchSuffixTemplate">
                  <input type="text" nz-input name="jhiCommonSearchKeywords" [(ngModel)]="searchValue" placeholder="请输入关键字" />
                </nz-input-group>
                <ng-template #searchSuffixTemplate>
                  <i
                    nz-icon
                    nz-tooltip
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="searchValue"
                    (click)="searchValue = ''"
                  ></i>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <button nz-button type="submit" nzType="primary" (click)="loadPage()">查询</button>
            <button nz-button nzType="primary" [routerLink]="['./new']">增加</button>
            <button nz-button nzType="danger" *ngIf="numberOfChecked > 0" (click)="deleteByIdsConfirm()">批量删除</button>
          </div>
        </div>
      </form>
      <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
          <ng-template #message>
            已选择
            <strong class="text-primary">{{ numberOfChecked }}</strong> 项&nbsp;
          </ng-template>
        </nz-alert>
      </div>
      <nz-table #nzTable [nzData]="departmentAuthorities!" [nzScroll]="{ x: '100%' }">
        <thead>
          <tr>
            <th
              nzLeft="0px"
              nzWidth="48px"
              nzShowCheckbox
              [(nzChecked)]="isAllDisplayDataChecked"
              [nzIndeterminate]="isIndeterminate"
              (nzCheckedChange)="checkAll($event)"
            ></th>
            <th
              nzLeft="48px"
              nzWidth="52px"
              nzShowSort
              [(nzSortOrder)]="mapOfSort.id"
              (nzSortOrderChange)="sort('id', $event)"
              nzCustomFilter
            >
              <span jhiTranslate="global.field.id">ID</span>
              <i
                class="ant-table-filter-icon"
                nz-icon
                nz-dropdown
                #dropdown="nzDropdown"
                nzType="search"
                [nzDropdownMenu]="idmenu"
                [class.ant-table-filter-open]="dropdown.nzVisible"
                nzTrigger="click"
                nzPlacement="bottomRight"
                [nzClickHide]="false"
                nzTableFilter
              >
              </i>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.name"
              (nzSortOrderChange)="sort('name', $event)"
              nzCustomFilter
              *ngIf="showField('name')"
              [nzWidth]="fieldWidth('name')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.name">Name</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.code"
              (nzSortOrderChange)="sort('code', $event)"
              nzCustomFilter
              *ngIf="showField('code')"
              [nzWidth]="fieldWidth('code')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.code">Code</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.description"
              (nzSortOrderChange)="sort('description', $event)"
              nzCustomFilter
              *ngIf="showField('description')"
              [nzWidth]="fieldWidth('description')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.description">Description</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.createUserId"
              (nzSortOrderChange)="sort('createUserId', $event)"
              nzCustomFilter
              *ngIf="showField('createUserId')"
              [nzWidth]="fieldWidth('createUserId')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.createUserId">Create User Id</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.createTime"
              (nzSortOrderChange)="sort('createTime', $event)"
              nzCustomFilter
              *ngIf="showField('createTime')"
              [nzWidth]="fieldWidth('createTime')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.createTime">Create Time</span>
            </th>
            <th
              nzShowSort
              [(nzSortOrder)]="mapOfSort.removedAt"
              (nzSortOrderChange)="sort('removedAt', $event)"
              nzCustomFilter
              *ngIf="showField('removedAt')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.removedAt">Removed At</span>
            </th>
            <th
              [nzWidth]="relationshipWidth('department')"
              nzShowSort
              [(nzSortOrder)]="mapOfSort.department"
              (nzSortOrderChange)="sort('department', $event)"
              nzShowFilter
              [nzFilters]="mapOfFilter.department?.list"
              (nzFilterChange)="filter('department', $event)"
              *ngIf="showRelationship('department')"
            >
              <span jhiTranslate="jhipsterSampleApplicationApp.settingsDepartmentAuthority.department">Department</span>
            </th>
            <th nzWidth="160px" nzRight="0px">操作</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-departmentAuthority [ngForOf]="nzTable.data">
            <tr>
              <td
                nzLeft="0px"
                nzShowCheckbox
                [(nzChecked)]="mapOfCheckedId[departmentAuthority.id!]"
                (nzCheckedChange)="refreshStatus()"
              ></td>
              <td nzLeft="48px">{{ departmentAuthority.id }}</td>
              <td *ngIf="showField('name')">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else namenameTpl">
                  {{ departmentAuthority.name }}
                </ng-container>
                <ng-template #namenameTpl>
                  <input nz-input type="text" name="name" [(ngModel)]="departmentAuthority.name" />
                </ng-template>
              </td>
              <td *ngIf="showField('code')">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else namecodeTpl">
                  {{ departmentAuthority.code }}
                </ng-container>
                <ng-template #namecodeTpl>
                  <input nz-input type="text" name="code" [(ngModel)]="departmentAuthority.code" />
                </ng-template>
              </td>
              <td *ngIf="showField('description')">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else namedescriptionTpl">
                  {{ departmentAuthority.description }}
                </ng-container>
                <ng-template #namedescriptionTpl>
                  <input nz-input type="text" name="description" [(ngModel)]="departmentAuthority.description" />
                </ng-template>
              </td>
              <td *ngIf="showField('createUserId')">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else namecreateUserIdTpl">
                  {{ departmentAuthority.createUserId }}
                </ng-container>
                <ng-template #namecreateUserIdTpl>
                  <nz-input-number name="createUserId" [(ngModel)]="departmentAuthority.createUserId"></nz-input-number>
                </ng-template>
              </td>
              <td *ngIf="showField('createTime')">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else namecreateTimeTpl">
                  {{ departmentAuthority.createTime }}
                </ng-container>
                <ng-template #namecreateTimeTpl>
                  <nz-date-picker [(ngModel)]="departmentAuthority.createTime" nzShowTime></nz-date-picker>
                </ng-template>
              </td>
              <td *ngIf="showField('removedAt')">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else nameremovedAtTpl">
                  {{ departmentAuthority.removedAt | date: 'yyyy-MM-dd' }}
                </ng-container>
                <ng-template #nameremovedAtTpl>
                  <nz-date-picker [(ngModel)]="departmentAuthority.removedAt"></nz-date-picker>
                </ng-template>
              </td>
              <td *ngIf="showRelationship('department')">
                <div *ngIf="departmentAuthority?.department?.id">
                  <a [routerLink]="['../department', departmentAuthority!.department?.id, 'view']">{{
                    departmentAuthority!.department?.name
                  }}</a>
                </div>
              </td>
              <td nzRight="0px">
                <ng-container *ngIf="!editStatus[departmentAuthority.id!]?.edit; else saveTpl">
                  <button
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="行改"
                    (click)="startEdit(departmentAuthority)"
                  >
                    <i nz-icon [nzType]="'file-text'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                  </button>
                  <button
                    nz-button
                    nzType="danger"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="删除"
                    (click)="deleteConfirm(departmentAuthority.id)"
                  >
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                  </button>
                  <button
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="编辑"
                    [routerLink]="['./', departmentAuthority.id, 'edit']"
                  >
                    <i nz-icon nzType="setting"></i>
                  </button>
                </ng-container>
                <ng-template #saveTpl>
                  <a (click)="saveEdit(departmentAuthority)">保存</a>
                  <a nz-popconfirm nzPopconfirmTitle="是否保存？" (nzOnConfirm)="cancelEdit(departmentAuthority.id)">取消</a>
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #idmenu="nzDropdownMenu">
        <div class="search-box">
          <div>
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <span>-</span>
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          </div>
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #textMenu="nzDropdownMenu">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #dateMenu="nzDropdownMenu">
        <div class="search-box">
          <nz-range-picker [(ngModel)]="dateRange" style="display: block; width: 260px; margin-bottom: 8px"></nz-range-picker>
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </nz-dropdown-menu>
    </div>
  </div>
</page-grid>
