<!--<page-header [title]="'jhipsterSampleApplicationApp.settingsPosition.home.createOrEditLabel'| translate">-->
<!--</page-header>-->
<page-bar></page-bar>
<nz-card [nzBordered]="false">
  <form nz-form (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="field_id" jhiTranslate="jhipsterSampleApplicationApp.settingsPosition.id"
        >ID</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="id" id="field_id" [(ngModel)]="position!.id" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_code"
        jhiTranslate="jhipsterSampleApplicationApp.settingsPosition.code"
        [ngbTooltip]="'jhipsterSampleApplicationApp.settingsPosition.help.code' | translate"
        >Code</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="code" id="field_code" [(ngModel)]="position!.code" required maxlength="50" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_name"
        jhiTranslate="jhipsterSampleApplicationApp.settingsPosition.name"
        [ngbTooltip]="'jhipsterSampleApplicationApp.settingsPosition.help.name' | translate"
        >Name</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="name" id="field_name" [(ngModel)]="position!.name" required maxlength="50" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_sortNo"
        jhiTranslate="jhipsterSampleApplicationApp.settingsPosition.sortNo"
        [ngbTooltip]="'jhipsterSampleApplicationApp.settingsPosition.help.sortNo' | translate"
        >Sort No</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="number" name="sortNo" id="field_sortNo" [(ngModel)]="position!.sortNo" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_description"
        jhiTranslate="jhipsterSampleApplicationApp.settingsPosition.description"
        [ngbTooltip]="'jhipsterSampleApplicationApp.settingsPosition.help.description' | translate"
        >Description</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <input nz-input type="text" name="description" id="field_description" [(ngModel)]="position!.description" maxlength="200" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzFor="field_removedAt"
        jhiTranslate="jhipsterSampleApplicationApp.settingsPosition.removedAt"
        [ngbTooltip]="'jhipsterSampleApplicationApp.settingsPosition.help.removedAt' | translate"
        >Removed At</nz-form-label
      >
      <nz-form-control [nzSm]="17" [nzXs]="24">
        <nz-date-picker id="field_removedAt" name="removedAt" [(ngModel)]="position!.removedAt"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col [nzSpan]="24" style="text-align: center">
        <button type="submit" nz-button [nzType]="'primary'" [disabled]="isSaving">
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="button" nz-button (click)="previousState()"><span jhiTranslate="entity.action.cancel">Cancel</span></button>
      </div>
    </div>
  </form>
</nz-card>
